
  data-mongodb:
    image: data-mongodb
    #image: mongo:4.2.8
    build: 
      context: ./data-mongodb
      dockerfile: Dockerfile
    container_name: data-mongodb
    ports:
     - 27017:27017
    expose:
     - 27017
    restart: always
